{% extends 'base.html' %}

{% block content %}
<style>
  .hero-second{
    background-color: #7895CB;
  }  

</style>


<!-- first section -->
<section class="hero is-fullheight" id="firstHero">
  <div class="hero-body splash">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column">
                  <h1 class="title has-text-white is-spaced is-size-2-desktop is-size-1-fullhd">Brand Reputation Guard</h1>

                  <h2 class="subtitle has-text-white">
                     Watch your brand's Reputation on social media
                  </h2>

                  <div class="buttons is-dark">
                      <a class="control button is-info is-inverted is-medium" href="">Try Demo →</a>
                  </div>
              </div>

              <div class="column">
                  <a href="">
                      <div class="box-shadow is-hidden-tablet">
                          <img src="" alt="Bulma Builder interface">
                      </div>
                      <div class="is-hidden-mobile box-shadow">
                          <div id="hero-video-wrapper"><img src=""  style="border-radius: 8px;"></img></div>

                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- first section -->


<!-- How it works section -->

<div class="hero-second" id="content">   
  <section class="section has-text-white">
<div class="container">
  <div class="columns is-multiline is-centered is-vcentered">
    <div class="mb-6 column is-12 is-4-desktop">
      <div>
        <h2 class="title is-spaced has-text-white" >Welcome to Brand Reputation Guard</h2>
        <p class="subtitle has-text-white ">Our app leverages the power of Facebook and Instagram APIs to provide you with valuable insights about your brand's reputation. Here's how it works:</p>
        <a class="button is-transparent" target="blank" href="https://drive.google.com/file/d/1KFZH9UPIEF1RQxKl8b5WsL3g8cc4WKiR/view?usp=drive_link">Learn More</a>
      </div>
    </div>
    <div class="column is-12 is-6-desktop is-offset-1-desktop">
      <ul>
        <li class="mb-6 is-flex">
          <div class="pr-5">
            <span class="is-flex is-align-items-center is-justify-content-center is-64x64 is-size-4 has-text-info is-rounded has-background-link-light has-text-weight-bold">1</span>
          </div>
          <div class="mt-3">
            <h3 class="title is-size-5 is-spaced mb-3">Data Gathering</h3>
            <p class="subtitle">Our app integrates seamlessly with Facebook and Instagram APIs to fetch comments and engagements related to your brand. By connecting your brand's social media accounts, we gain access to a wealth of user-generated content.</p>
          </div>
        </li>
        <li class="mb-6 is-flex">
          <div class="pr-5">
            <span class="is-flex is-align-items-center is-justify-content-center is-64x64 is-size-4 has-text-info is-rounded has-background-link-light has-text-weight-bold">2</span>
          </div>
          <div class="mt-3">
            <h3 class="title is-size-5 is-spaced mb-3" >Reputation Feedback</h3>
            <p class="subtitle" >Based on the sentiment analysis results, we generate a comprehensive reputation feedback report for your brand. This report provides an overview of the overall sentiment surrounding your brand, highlighting the percentage of positive, negative, and neutral comments received. By analyzing this feedback, you gain insights into how your brand is perceived by customers and identify areas that may require attention or improvement.</p>
          </div>
        </li>
        <li class="is-flex" >
          <div class="pr-5" >
            <span class="is-flex is-align-items-center is-justify-content-center is-64x64 is-size-4 has-text-info is-rounded has-background-link-light has-text-weight-bold">3</span>
          </div>
          <div class="mt-3">
            <h3 class="title is-size-5 is-spaced mb-3" >Visualization and Reporting</h3>
            <p class="subtitle">Our app presents the reputation feedback report in an intuitive and visually appealing manner, making it easy for you to grasp the sentiment trends and patterns. You can view sentiment scores over time, compare different periods, and track the impact of your brand's initiatives or campaigns on sentiment. The reports can be customized and exported, allowing you to share the insights with your team or stakeholders.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section></div>
<!-- How it works section -->


<!-- Features section -->
<section class="section has-background-dark has-text-white" id="features">
  <div class="container">
      <div class="section header has-text-centered ">
          <h2 class="title is-size-2-desktop has-text-white">Time is precious.</h2>
          <h3 class="subtitle has-text-white">Keep your reputation clean AND your time saved</h3>
      </div>

      <div class="columns is-centered">
          <div class="column is-9">
              <div class="columns">
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-lightbulb"></i> Easy to use application</h4>
                      <p>We know how valuable brands' time is. This is why we worked hard on the development of a tool that would be easy to use and without the need for any training.</p>
                  </div>
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-squares"></i> Components library</h4>
                      <p>Build templates from hundreds of&nbsp;components grouped into 20 most frequently used categories including navigations, headers and more. Choose the right components and focus on&nbsp;the&nbsp;details.</p>
                  </div>
              </div>
              <div class="columns">
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-globe"></i> Online Sass compilation</h4>
                      <p>Bulma 0.9.0 provides a lot of&nbsp;configuration options. Our&nbsp;customizer panel displays these options in thematically connected categories and it will allow you to&nbsp;use them effectively.</p>
                  </div>
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-brush"></i> Convenient pickers</h4>
                      <p>All types of settings include an&nbsp;interface for&nbsp;a&nbsp;quicker implementation of values (color picker, Google Fonts autosuggest, shadow builder, etc.). All for your convenience!</p>
                  </div>
              </div>
              <div class="columns">
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-heartbeat"></i> Live edit</h4>
                      <p>When changing the settings in&nbsp;customizer panel, the SCSS code is&nbsp;compiled in real time, and you can follow the&nbsp;changes live.</p>
                  </div>
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-link-ext"></i> Shareable results</h4>
                      <p>You can share your reputation reports with your </p>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<!-- Features section -->

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.globe.min.js"></script>
    <script>
    VANTA.GLOBE({
  el: "#firstHero",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0xC5DFF8,
  backgroundColor: 0x4A55A2
})
</script>
</body>
  
  



{%endblock%}