{% extends 'base.html' %}

{% block content %}
<style>
  .hero{background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);}
  
</style>

<!-- first section -->
<section class="hero is-fullheight" id="firstHero">
  <div class="hero-body splash">
      <div class="container">
          <div class="columns is-vcentered">
              <div class="column">
                  <h1 class="title has-text-white is-spaced is-size-2-desktop is-size-1-fullhd">Create Bulma templates in&nbsp;minutes.</h1>

                  <h2 class="subtitle">
                      An online editor for Bulma CSS with a&nbsp;simple, intuitive drag &amp;&nbsp;drop interface&nbsp;and hundreds of beautiful UI&nbsp;components.
                  </h2>

                  <div class="buttons">
                      <a class="control button is-primary is-inverted is-medium" href="">Try Demo →</a>
                  </div>
              </div>

              <div class="column">
                  <a href="">
                      <div class="box-shadow is-hidden-tablet">
                          <img src="" alt="Bulma Builder interface">
                      </div>
                      <div class="is-hidden-mobile box-shadow">
                          <div id="hero-video-wrapper"><img src=""  style="border-radius: 8px;"></img></div>

                      </div>
                  </a>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- first section -->


<!-- How it works section -->

<div class="" id="content">   
  <section class="section has-background-info has-text-white">
<div class="container">
  <div class="columns is-multiline is-centered is-vcentered">
    <div class="mb-6 column is-12 is-4-desktop">
      <div>
        <h2 class="title is-spaced has-text-white" >Sed ac magna sit amet risus tristique interdum, at vel velit in hac habitasse platea dictumst.</h2>
        <p class="subtitle has-text-white ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.</p>
        <a class="button is-transparent" href="#">Learn More</a>
      </div>
    </div>
    <div class="column is-12 is-6-desktop is-offset-1-desktop">
      <ul>
        <li class="mb-6 is-flex">
          <div class="pr-5">
            <span class="is-flex is-align-items-center is-justify-content-center is-64x64 is-size-4 has-text-info is-rounded has-background-link-light has-text-weight-bold">1</span>
          </div>
          <div class="mt-3">
            <h3 class="title is-size-5 is-spaced mb-3">Key Elements</h3>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
          </div>
        </li>
        <li class="mb-6 is-flex">
          <div class="pr-5">
            <span class="is-flex is-align-items-center is-justify-content-center is-64x64 is-size-4 has-text-info is-rounded has-background-link-light has-text-weight-bold">2</span>
          </div>
          <div class="mt-3">
            <h3 class="title is-size-5 is-spaced mb-3" >Flexible Elements</h3>
            <p class="subtitle" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
          </div>
        </li>
        <li class="is-flex" >
          <div class="pr-5" >
            <span class="is-flex is-align-items-center is-justify-content-center is-64x64 is-size-4 has-text-info is-rounded has-background-link-light has-text-weight-bold">3</span>
          </div>
          <div class="mt-3">
            <h3 class="title is-size-5 is-spaced mb-3" >Flexible Software</h3>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus eget justo et iaculis.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
</section></div>
<!-- How it works section -->


<!-- Features section -->
<section class="section has-background-dark has-text-white" id="features">
  <div class="container">
      <div class="section header has-text-centered ">
          <h2 class="title is-size-2-desktop has-text-white">Time is precious.</h2>
          <h3 class="subtitle has-text-white">Working on web projects without frustration is priceless.</h3>
      </div>

      <div class="columns is-centered">
          <div class="column is-9">
              <div class="columns">
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-lightbulb"></i> Easy to use</h4>
                      <p>We know how valuable developers' time is. This is why we&nbsp;worked hard on&nbsp;the development of&nbsp;a&nbsp;tool that would be&nbsp;easy to use and which you could make use of without the need for any training.</p>
                  </div>
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-squares"></i> Components library</h4>
                      <p>Build templates from hundreds of&nbsp;components grouped into 20 most frequently used categories including navigations, headers and more. Choose the right components and focus on&nbsp;the&nbsp;details.</p>
                  </div>
              </div>
              <div class="columns">
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-globe"></i> Online Sass compilation</h4>
                      <p>Bulma 0.9.0 provides a lot of&nbsp;configuration options. Our&nbsp;customizer panel displays these options in thematically connected categories and it will allow you to&nbsp;use them effectively.</p>
                  </div>
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-brush"></i> Convenient pickers</h4>
                      <p>All types of settings include an&nbsp;interface for&nbsp;a&nbsp;quicker implementation of values (color picker, Google Fonts autosuggest, shadow builder, etc.). All for your convenience!</p>
                  </div>
              </div>
              <div class="columns">
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-heartbeat"></i> Live edit</h4>
                      <p>When changing the settings in&nbsp;customizer panel, the SCSS code is&nbsp;compiled in real time, and you can follow the&nbsp;changes live.</p>
                  </div>
                  <div class="column is-6">
                      <h4 class="title is-4 has-text-white"><i class="icon-link-ext"></i> Shareable preview</h4>
                      <p>You can share the prepared project with other team members to review, or you can use a link to&nbsp; check the&nbsp;project on mobile devices.</p>
                  </div>
              </div>
              
          </div>
      </div>
  </div>
</section>
<!-- Features section -->

<body>
  <body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script>
    VANTA.NET({
      el: "#firstHero",
      mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  scale: 1.00,
  scaleMobile: 1.00,
  color: 0xffffff,
  backgroundColor: 0x1a1a40,
  points: 20.00,
  maxDistance: 26.00
    })
    </script>
    </body>
</body>
  
  



{%endblock%}