<nav class=" navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="E:\PFA\Interface\BrandReputation\Templates\Repu.png"  width="112" height="28">
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
      <a class="navbar-item" href="/#HowItWorks">
        How it works
      </a>
      <a class="navbar-item" href="/#features" data-section="features">Features</a>
      
      <a class="navbar-item" href="/#pricing">
        Pricing
      </a>
      
      </div>
   </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="bd-tw-button button" href="{% url 'home' %}">
              <span>
                Try demo
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button is-info" href="">
             
              <!-- <span class="icon"> -->

              <!-- </span> -->
              <span>log in</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>